/* html,
body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
} */
.bx--header {
  border-bottom: 0 !important;
}

img {
  width: 36px;
  height: 36px;
  margin: 8px;
}

.bx--grid {
  max-width: none;
  padding: 0;
}
.bx--row {
  margin: 0 !important;
}
.bx--row > div {
  padding: 0 !important;
}

.bx--header {
  position: static;
}
.bx--header__nav {
  display: block;
}
.bx--search-magnifier {
  z-index: 0;
}

#DesktopQueueWrapper,
#MobileQueueWrapper {
  height: calc(100vh - 48px);
  height: calc(var(--vh, 1vh) * 100 - 48px);
  background-color: #262626;
  color: #f4f4f4;
}

@media only screen and (max-width: 1056px) {
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525252;
}
